.menu-icon {
  width: 26px;
  height: 26px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.id-icon {
  background-image: url("~@images/button_ID.svg");
  background-size: 30px;
}

.sideMenu__icon {
  width: #{$sideMenuIconSize};
  height: #{$sideMenuIconSize};
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.sideMenu__icon__id {
  background-image: url("~@images/button_ID.svg");
  background-size: #{$sideMenuIconSize};
}
