*{
  font-size: 16px;
}

.gradiant__bar {
  background: rgb(30,177,218);
  background: linear-gradient(95deg, rgba(30,177,218,1) 0%, rgba(0,134,170,1) 100%);
  height: 8px;
  width: 100%;
}

.fubon__gradiant {
  background: rgb(30,177,218);
  background: linear-gradient(95deg, rgba(30,177,218,1) 0%, rgba(0,134,170,1) 100%);
}

.page__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 20px;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

text{
  img{
    height: auto !important;
    margin-top: -2px;
  }
}

.white__wrap {
  background: #ffffff;
}

.bg__blue {
  background-color: #F2F8FF;
}

.img__people-login {
  padding-right: 75px;
}

// 表單標題
.form__title {
  color: $primary;
  font-size: 17px;
  padding-bottom: 13px;
  margin-bottom: 20px;
  border-bottom: 2px $primary solid;
}
.form__line {
  // margin-bottom: 15px;
  font-size: 15px;
  label {
    display: inline-block;
    font-weight: bold;
    color: #000000;
    margin-bottom: 3px;
  }
}
.form__btn {
  margin-top: 15px;
}

.icon__btn {
  display: inline-block;
  background-color: $primary;
  border-radius: 4px;
  padding: 6px 8px;
}

// reset ant btn
// .ant-btn {
//   font-size: 16px;
// }
// reset ant dropdown
.ant-dropdown-menu {
  .ant-dropdown-menu-item:hover {
    color: #000000;
    background-color: $primary;
    a {
      color: #ffffff;
    }
  }
}

// reset ant search input btn
.ant-input-search-button{
  height: 32px;
  background-color: $COLOR-MAIN5;
  .anticon{
    vertical-align: -0.2em;
  }
}



// reset ant pagination
.ant-pagination-item-active a {
  color: #ffffff;
}

// ant notification

.ant-notification-notice-icon{
  top: 19px
}
.ant-notification-notice-with-icon .ant-notification-notice-message{
  margin-bottom: 0;
}
// reset ant table td padding
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 12px 16px;
}
.ant-form-explain{
  white-space: normal;
}

// 密碼欄位驗證
.form__check-list {
  font-size: 12px;
  li {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '';
      position: absolute;
      background: url('../assets/Image_checkOff.svg') no-repeat;
      width: 15px;
      height: 15px;
      left: 0;
      top: 0;
    }
    &.form__check-list--check {
       &::before {
         background: url('../assets/Image_checkOn.svg') no-repeat;
       }
    }
  }
}

// 查詢樣式
.query__wrap {
  width: 360px;
  margin: 25px auto;
  .query__title {
    text-align: center;
    color: #485057;
    font-size: 18px;
    font-weight: bold;
  }
}
.query__list {
  display: block;
}
.query__item {
  display: block;
  // align-items: ;
  margin-bottom: 12px;
  .query__item-content {
    // width: calc(100% - 30px);
    margin-left: 24px;
    margin-top: 5px;
  }
}

.query__wrap-result {
  padding: 20px 0;
  .query__title {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
  }
  .query__total {
    float: right;
    font-size: 16px;
    font-weight: normal;
  }
}

.info__txt {
  font-size: 13px;
  text{
    font-size: 13px !important;
  }
}
.primary__txt {
  color: $primary;
}
.gray__txt {
  color: #485057;
}

.notice__txt {
  color: #E06262;
}

.block__btns {
  margin: 12px 0;
  .ant-btn {
    padding: 0 40px;
    border-radius: 50vh;
  }
}

// 排版用
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

// scroll 樣式

::-webkit-scrollbar {
width: 10px;
background: transparent;
}
::-webkit-scrollbar-corner {
background: transparent;
}
::-webkit-scrollbar-thumb {
padding: 0px 3px;
border-radius: 6px;
background-color: #797979;
}

// 背景色
.bg--light{
  background-color: #fff;
}
.bg--pale{
  background-color: $COLOR-MAIN4;
}

.hr--dash{
  border: 0;
  border-bottom: 1px#CECECE dashed;
  outline: 0;
}

// 更改標記
.mark {
  color: #E06262;
  font-size: 20px;
  font-weight: 600;
}

.block__line--blue {
  background-color: #7CACD3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 10px;
  margin-bottom: 25px;
  margin-top: 10px;
}

// 日曆錯誤樣式
.has-error{
  .mx-datepicker{
    input{
      border-color: #f5222d;
    }
  }
}