// 主色系
$COLOR-MAIN1: #ED7D7D;
$COLOR-MAIN2: #7CACD3;
$COLOR-MAIN3: #2F6A9A;
$COLOR-MAIN4: #F2F8FF;
$COLOR-MAIN5: #4CAAF5;
$COLOR-MAIN6: #2296F3;
$COLOR-MAIN7: #788088;
$COLOR-MAIN8: #F77878;

// button
$BUTTON-MAIN: $COLOR-MAIN5;


// loading
$LOADING-TXT-COLOR: #FFFFFF;
$LOADING-COLOR: $COLOR-MAIN2;

// list bg
$LIST-BG-DARK: $COLOR-MAIN4;

// text
$TEXT-PRIMARY: $COLOR-MAIN5;

// background
$BG-PRIMARY: $COLOR-MAIN4;