// 主色系
$COLOR-MAIN1: #00829B;
$COLOR-MAIN2: #23C4A8;
$COLOR-MAIN3: #E99385;
$COLOR-MAIN4: #E5F2F5;
$COLOR-MAIN5: #D9D9D9;
$COLOR-MAIN6: #009583;
$COLOR-MAIN7: #EEEEEE;
$COLOR-MAIN8: #329aae;
$COLOR-MAIN9: #4fcfb9;
$COLOR-MAIN10: #FFFBE6;
$COLOR-MAIN11: #F8F8F9;
$COLOR-MAIN12: #459dae;
$COLOR-MAIN13: #DD8374;
$COLOR-MAIN14: #3D9BAF;
$COLOR-MAIN15: #C7C7C7;
$COLOR-MAIN16: #E03E57;
$COLOR-MAIN17: #F5222D;
$COLOR-MAIN18: #F5DCD7;
$COLOR-MAIN19: #EA8270;
$COLOR-MAIN20: #FFE58F;
$COLOR-MAIN21: #FAAD14;
$COLOR-MAIN22: #FC0000;


$COLOR-NORMAL: #333333;

$COLOR-DARK: #000000;
$COLOR-LIGHT: #FFFFFF;

$COLOR-GRAY1: #D5D5D5;
$COLOR-GRAY2: #E8E8E8;


// button
$BUTTON-SEARCH: $COLOR-MAIN3;
$BUTTON-SEARCH-HOVER: $COLOR-MAIN13;
$BUTTON-PRIMARY: $COLOR-MAIN2;
$BUTTON-PRIMARY-HOVER: $COLOR-MAIN9;
$BUTTON-DARK: $COLOR-MAIN1;
$BUTTON-DARK-HOVER: $COLOR-MAIN8;
$BUTTON-LIGHT: $COLOR-LIGHT;
$BUTTON-LIGHT-BORDER: $COLOR-MAIN15;
$BUTTON-ICON: $COLOR-LIGHT;
$BUTTON-ICON-HOVER: $COLOR-MAIN14;
$BUTTON-ICONTEXT: $COLOR-MAIN1;


// font
$FONT-DARK: $COLOR-DARK;
$FONT-NORMAL: $COLOR-NORMAL;
$FONT-LIGHT: $COLOR-LIGHT;
$FONT-PRIMARY: $COLOR-MAIN1;

// backgroung
$BG-PRIMARY: $COLOR-MAIN1;
$BG-LIGHT: $COLOR-LIGHT;
$BG-LOGIN: #09B3A1;
$BG-GRAY: $COLOR-MAIN7;
$BG-YELLOW: $COLOR-MAIN10;



// loading
$LOADING-TXT-COLOR: #FFFFFF;
$LOADING-COLOR: $COLOR-MAIN2;

// list bg
$LIST-BG-DARK: $COLOR-MAIN4;

// text
$TEXT-PRIMARY: $COLOR-MAIN5;

// FORM ERROR
$FORMERROR-BORDER: $COLOR-MAIN22;
$FORMERROR-TEXT: $COLOR-MAIN22;
