// 主色系
$COLOR-MAIN1: #2c3e50;
$COLOR-MAIN2: #20B6B2;
$COLOR-MAIN3: #4CAAF5;
$COLOR-MAIN4: #2296F3;
$COLOR-MAIN5: #F0F8FF;
$COLOR-MAIN6: #7CACD3;
$COLOR-MAIN7: #E06262;
$COLOR-MAIN8: #F2F8FF;
$COLOR-MAIN9: #F77878;
$COLOR-MAIN10: #CECECE;
$COLOR-MAIN11: #51B7A3;
$COLOR-MAIN12: #F5222D;
$COLOR-MAIN13: #f4fffb;

$COLOR-MAIN3-OPACITY: #4CAAF566;

$COLOR-WHITE: #FFF;
$COLOR-BLACK: #000;

$COLOR-GRAY1: #DFE6EC;
$COLOR-GRAY2: #D9D9D9;
$COLOR-GRAY3: #788088;
$COLOR-GRAY4: #8C8C8C;
$COLOR-GRAY5: #999;
$COLOR-GRAY6: #595959;
$COLOR-GRAY7: #f0f0f0;

//----------------------------- RWD 斷點 -----------------------------
$XL-MEDIA: 1200px;
$LG-MEDIA: 992px;
$MD-MEDIA: 768px;
$SM-MEDIA: 576px;
$XS-MEDIA: 375px;