
$COLOR-WHITE: #FFF;
$COLOR-BLACK: #000;

// 主色系
$COLOR-MAIN1: #23C4A8;
$COLOR-MAIN2: #02829B;
$COLOR-MAIN3: #09B3A1;
$COLOR-MAIN4: #30ACB3;
$COLOR-MAIN5: #499EE5;
$COLOR-MAIN5: #0094BF;


$COLOR-GRAY1: #B7B7B7;
$COLOR-GRAY2: #D9D9DA;
$COLOR-GRAY3: #EEE;
$COLOR-GRAY4: #AAA;

// header 高度
$main-header-H: 46;

// 漸層色
$COLOR-MAIN-BG-LINEAR: $COLOR-MAIN3, $COLOR-MAIN4, $COLOR-MAIN5;

// ======================= sideMenu ======================= //
$sideMenuIconSize: 22px;

:root {
  --fixed-sider-W: 256px;
}
