$loadingDotItemSize: 20px;
$loadingDotSize: 2.1em;
$btnDefaultColor: #13c2c2;
$btnHoverColor: #11ADAD;

// 日期選擇器
.mx-datepicker {
  width: 100%;
  .mx-input {
    border-radius: 2px;
    border: 1px solid #227FA8;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 40px;
    vertical-align: top;
    &::placeholder {
      color: #bfbfbf;
      font-size: 16px;
    }
  }
}

.has-error {
  .mx-input {
    border-color: #F5222D
  }
}

.exportBtn {
  border-radius: 8px;
  border: 1px solid #0090FF;
  background-color: #FFF;
  color: #0090FF;
  padding: 0 17px;

  &:hover {
    background-color: #0090FF;
    color: #FFF;
  }
}


// 提示 黃框
.precautions {
  background: #fffbe6;
  border-width: 1px;
  border-style: solid;
  border-color: #ffe58f;
  border-radius: 5px;

  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: black;
  .anticon-warning {
    color: orange;
    font-size: 24px;
  }
}
.precautions__header {
  margin-bottom: 7px;
  &:first-child {
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}
.precautions__headerTitle {
  font-size: 16px;
  margin-left: 16px;
}
.precautions__listGroup {
  margin-left: 20px;
  margin-bottom: 0;
}

.page__section {
  & + & {
    margin-top: 10px;
  }
}

.fbl-table {
  margin: 10px 0 16px;
}

.section__title {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-bottom: 0;
  &:not(:empty) {
    margin-right: 10px;
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(../assets/images/icon-title-tag.svg) no-repeat;
    width: 5px;
    height: 25px;
    margin-right: 8px;
    margin-top: -3px;
  }
  small {
    margin-left: 5px;
    font-weight: normal;
  }
}
.title__gap {
  padding-bottom: 5px;
}

[class*="ant-row"] {
  & + & {
    margin-top: 5px;
  }
}

// 名單比對結果
.matchResult__message {
  color: #F5222D;
  margin-top: 10px;
}

.ant-modal-confirm {
  .ant-modal-confirm-btns {
    float: none;
    text-align: center;
    .ant-btn-green {
      background: $btnDefaultColor;
      color: white;
      width: 80%;
      height: auto;
      margin: auto;
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
      &:hover {
        background-color: $btnHoverColor;
        color: white;
      }
    }
  }
}

.ant-popover {
  max-width: 350px;
  .ant-popover-message {
    padding-bottom: 20px;
    font-size: 16px;
    color: #000;
  }
  .ant-popover-buttons {
    justify-content: center;
    display: flex;
    .ant-btn {
      max-width: 45%;
      flex: 1;
      margin: 0 10px;
      border: 1px solid #13c2c2;
      color: #13c2c2;
      height: 32px;
      min-width: 135px;
    }
    .ant-btn-green {
      background: #13C2C2 !important;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}
.popconfirm__title {
  font-size: 20px;
  margin-bottom: 5px;
}
.popconfirm__sub {
  font-size: 14px;
}


.list-with-border {
  list-style: none;
  padding: 0px;
  li {
    border-bottom: 1px #00000033 solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:last-child {
      border: 0;
    }
  }
}
// loading
.ant-spin-dot-item {
  width: $loadingDotItemSize;
  height: $loadingDotItemSize;
}
.ant-spin-dot {
  width: $loadingDotSize;
  height: $loadingDotSize;
}

.ant-modal-confirm-title {
  font-size: 20px !important;
}
.ant-modal-confirm-content {
  color: #F00;
}


// 彈窗樣式
.modal__custom {
  .ant-btn {
    height: 40px;
  }
  .anticon {
    font-size: 30px;
  }
  .ant-modal-confirm-title {
    font-size: 24px;
  }
  .ant-modal-confirm-content {
    font-size: 16px;
    margin-left: 7px !important;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .ant-modal-confirm-btns {
    float: none;
    margin: 24px 20px 0;
  }
  .ant-btn-okButton {
    background: $btnDefaultColor;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 7.5px;
    width: 100%;
    height: auto;
    &:hover {
      background-color: $btnHoverColor;
    }
  }
}

.modal__confirm {
  .ant-modal-confirm-title {
    font-size: 20px;
    line-height: 1;
  }
  i {
    font-size: 30px;
  }
  .ant-btn {
    height: 40px;
    border-color: $btnDefaultColor;
    color: $btnDefaultColor;
    &:hover {
      border-color: $btnHoverColor;
      color: $btnHoverColor;
    }
  }
  .ant-btn-okButton{
    background: $btnDefaultColor;
    color: #FFF;
    &:hover {
      background-color: $btnHoverColor;
      color: #FFF;
    }
  }
  .ant-modal-confirm-btns {
    float: none;
    text-align: center;
    .ant-btn {
      width: 48%;
    }
  }
}
.img-success, .img-fail {
  width: 158px;
  height: 172px;
  display: block;
  margin: auto;
  text-indent: -999999px;
}
.img-success {
  background: url(../assets/images/icon-save-success.svg) no-repeat;
}
.img-fail {
  background: url(../assets/images/icon-save-fail.svg) no-repeat;
}

// pop 泡泡確認框
.ant-popover-message {
  .ant-popover-message-title {
    &:first-child {
      &:nth-last-child(1) {
        padding-left: 0;
      }
    }
  }
}
.customPopconfirm {
  .ant-popover-buttons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .ant-btn {
    min-width: 100px;
    border-radius: 3px;
    margin: 0 5px;
    border: 1px solid #13C2C2;
    color: #13C2C2;
  }
}

// antd disabled 樣式 全黑
.ant-select-selection-selected-value,
.ant-input[disabled],
.ant-input,
.ant-select-dropdown-menu-item,
.mx-input:disabled,
.mx-input.disabled {
  color: #000;
}

// 按鈕樣式
.button, .btn, button {
  &.btn__layout--green {
    background-color: $btnDefaultColor;
    color: #FFF;
    &:hover {
      background-color: $btnHoverColor;
    }
  }
  &.btn__layout--white {
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 12px;
    background-color: #FFFFFF;
    color: #333333;
    &:hover {
      background-color: #FFFFFF;
    }
  }
}

.searchButton {
  width: 150px;
  height: auto;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn, .button, .ant-btn {
  &.submitButton {
    width: 150px;
    height: auto;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
}

.largeSizBtn {
  width: 200px;
}

.middleSizBtn {
  width: 150px;
}

.smallSizBtn {
  width: 140px;
}

//確認彈窗
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap__icon-success{
  color: #52c41a;
  font-size: 30px;
  line-height: 22px;
}
.wrap__icon-warning{
  color: #ffc540;
  font-size: 30px;
  line-height: 22px;
}
.wrap__icon-fail{
  color: red;
  font-size: 30px;
  line-height: 22px;
}
.wrap__text{
  color: #000000D9;
  font-size: 23px;
  font-weight: bold;
  margin: 0 10px;
}
.wrap__img-success{
  background: url(../assets/images/icon-save-success.svg) no-repeat;
  width: 80px;
  height: 116px;
  display: block;
  text-indent: -999999px;
}
.wrap__img-fail{
  background: url(../assets/images/icon-save-fail.svg) no-repeat;
  width: 80px;
  height: 116px;
  display: block;
  text-indent: -999999px;
}


// input number 上下箭頭隱藏
.ant-input-number-handler-wrap {
  display: none !important;
}

.ant-checkbox-wrapper {
  margin: 0 4px;
  + .ant-checkbox-wrapper {
    margin-left: 4px;
  }
}

$spinColor: #fff;
$spinFontSize: 20px;
/* spin */
.spin__wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.spin {
  position: absolute;
  top: calc((100% - 77px) / 2);
  left: calc((100% - 206.28px) / 2);
}
// ::v-deep {
  .ant-spin-dot-item {
    background: $spinColor;
  }
  .ant-spin-text {
    color: $spinColor;
    font-size: $spinFontSize;
  }
// }

.mark-required {
  font-size: 22px;
  vertical-align: top;
  height: 20px;
  display: inline-block;
}
.ant-select-arrow {
  color: rgba(0, 0, 0, 0.8);
}
.ant-select-selection__clear, .ant-input-clear-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  right: 8px;
  top: calc((100% - 9px) / 2);
}

// 手動新增AML審查案件
.amlReasonTooltip {
  max-width: 70vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.mark-text {
  color: #F5222D;
}
.ant-menu-inline-collapsed-tooltip {
  .ant-tooltip-arrow {
    &::before {
      background: rgba(0, 0, 0, 0.6);
    }
  }
  .ant-tooltip-inner {
    padding: 10px 12px;
    background: rgba(0, 0, 0, 0.6);
  }
  a {
    color: #FFF;
  }
}

// 欄位 disabled
$disabled-color: #EEE;
.ant-input[disabled] {
  background-color: $disabled-color;
}
.ant-input-number-disabled {
  background-color: $disabled-color;
}
.ant-select-disabled {
  .ant-select-selection {
    background: $disabled-color;
  }
}
.mx-input {
  &:disabled,
  &.disabled {
    background-color: $disabled-color;
  }
}
.data-row-disable {
  background-color: $disabled-color;
}
.ant-checkbox-disabled {
  .ant-checkbox-inner {
    background-color: $disabled-color;
  }
}


