
// 主色系
$BS-COLOR-MAIN1: #23C4A8;
$BS-COLOR-MAIN2: #7CACD3;
$BS-COLOR-MAIN3: #2F6A9A;
$BS-COLOR-MAIN4: #F2F8FF;
$BS-COLOR-MAIN5: #4CAAF5;
$BS-COLOR-MAIN6: #2296F3;
$BS-COLOR-MAIN7: #788088;
$BS-COLOR-MAIN8: #F77878;
$BS-COLOR-MAIN9: #D9D9D9;
$BS-COLOR-MAIN10: #F5F8FC;
$BS-COLOR-MAIN11: #D9F0F4;
$BS-COLOR-MAIN12: #7DC9CF;
$BS-COLOR-MAIN13: #4D86FF;
$BS-COLOR-MAIN14: #F5222D;
$BS-COLOR-MAIN15: #4D86FF;
$BS-COLOR-MAIN16: #CB5B4D;
$BS-COLOR-MAIN17: #F46A6A;
$BS-COLOR-MAIN18: #FFF0F0;
$BS-COLOR-MAIN19: #E06262;
$BS-COLOR-MAIN20: #FFEBEB;
$BS-COLOR-MAIN21: #FF3636;
$BS-COLOR-MAIN22: #FC0000;

$BS-COLOR-WHITE: #FFF;
$BS-COLOR-BLACK: #000;

$BS-COLOR-GRAY1: #363636;
$BS-COLOR-GRAY2: #CED4D9;
$BS-COLOR-GRAY3: #D1D3D7;
$BS-COLOR-GRAY4: #EBEBEB;
$BS-COLOR-GRAY5: #C9C9C9;
$BS-COLOR-GRAY6: #F5F5F5;
$BS-COLOR-GRAY7: #FDFCFB;
$BS-COLOR-GRAY8: #B7B7B7;
$BS-COLOR-GRAY9: #CECECE;
$BS-COLOR-GRAY10: #999;
$BS-COLOR-GRAY11: #2C2738;
$BS-COLOR-GRAY12: #E8E8E8;
$BS-COLOR-GRAY13: #BDBDBD;

$BS-BUTTON-MAIN: $BS-COLOR-MAIN1;
$BS-MODAL-ICON-SUCCESS: $BS-COLOR-MAIN1;
$BS-MODAL-ICON-ERROR: $BS-COLOR-MAIN2;

$BS-ERROR-COLOR: $BS-COLOR-MAIN14;

// background
$BS-BG-PRIMARY: $BS-COLOR-MAIN4;
$BS-BG-GREEN: $BS-COLOR-MAIN1;

// text
$BS-TEXT-BOLD: 600;


// datePicker
$BS-PRIMARY-COLOR: $BS-COLOR-MAIN1;
$BS-INPUT-HOVER-BORDER-COLOR: $BS-COLOR-MAIN1;

//modal
$BS-MODAL-ICON-SUCCESS: $BS-COLOR-MAIN1;
$BS-MODAL-ICON-ERROR: $BS-COLOR-MAIN14;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1088px, //clo-width
  xxl: 1200px
);