#fubon-backStagePage, .fubon-backStage_modal {
  .page__title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 15px;
    color: $BS-COLOR-BLACK;
    @include bs-rwd-xl {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  // bg
  .bg__white {
    background: #ffffff;
  }
  .bg__light {
    background-color: #F5F8FC;
  }

  .ant-form-item-label > label {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
  }

  .tags__wrap {
    border: 1px #00000026 solid;
    border-radius: 4px;
    padding: 0 5px;
    padding-top: 5px;
    line-height: 1;
    min-height: 70px;
  }
  .tags__item {
    position: relative;
    // z-index: 10;
    display: inline-block;
    border-radius: 4px;
    background-color: #FAFAFA;
    border: 1px #00000026 solid;
    color: #363636;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    i {
      cursor: pointer;
      margin-left: 5px;
    }
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 12px 16px;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .icon-button {
    min-width: 46px;
    min-height: 32px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    border-radius: 16px;
    border: 0;
    &.icon__edit {
      background-color: #F5F8FC;
      color: #23C4A8;
      &:hover,
      &:active {
        background: #23C4A8;
        color: #FFF;
      }
      &.icon__edit--disabled {
        color: #B7B7B7;
        cursor: not-allowed;
        background-color: #F5F5F5;
      }
    }
    &.icon__delete {
      background-color: #FFF0F0;
      color: #F46A6A;
      &:hover,
      &:active {
        background: #F46A6A;
        color: #FFF;
      }
      &.icon__delete--disabled {
        color: #B7B7B7;
        cursor: not-allowed;
        background-color: #F5F5F5;
      }
    }
  }


  .ant-pagination.mini {
    .ant-pagination-prev,
    .ant-pagination-next {
      min-width: 24px;
      height: 24px;
      margin: 0;
      line-height: 24px;
    }
    .ant-pagination-item {
      min-width: 24px;
      height: 24px;
      margin: 0;
      line-height: 22px;
      border: 1px solid transparent;
    }
    .ant-pagination-item-active {
      background: #999;
      a {
        color: #FFF;
      }
    }
  }

  .mark-required {
    color: #F5222D;
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
  }

  .ant-table-pagination {
    &.ant-pagination {
      float: right;
      margin: 16px 0;
    }
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    .ant-pagination-item-link {
      border: 1px solid transparent;
    }
    &:focus,
    &:hover {
      .ant-pagination-item-link {
        color: #23C4A8;
        border-color: #23C4A8;
      }
    }
  }
  .ant-pagination-item {
    border: 1px solid transparent;
    min-width: 24px;
    height: 24px;
    &:focus,
    &:hover {
      border-color: #23C4A8;
      transition: all 0.3s;
    }
    a {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  .ant-pagination-item-active {
    font-weight: 500;
    background: #999999;
    a {
      color: #FFF;
    }
  }

  .ant-pagination-disabled {
    a, &:hover a, &:focus a,
    .ant-pagination-item-link, &:hover .ant-pagination-item-link, &:focus .ant-pagination-item-link {
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
      cursor: not-allowed;
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    .ant-pagination-item-link {
      border: 1px solid transparent;
    }
  }

  .radio__block {
    width: 100%;
    background-color: $BS-COLOR-WHITE;
    border-radius: 4px;
    padding: 9px 12px;
    border: 1px solid $BS-COLOR-MAIN9;
  }
}