// @import 'import/_bsCustom';
// @import 'import/_button';
// @import 'import/_modal';
// @import 'import/_common';
@import 'import/_icon.scss';



// page footer
.page__footer {
  font-size: 12px;
  padding: 12px 0;
  text-align: center;
  color: $COLOR-WHITE;
  background: $COLOR-MAIN1;
}
