// 全域 css 寫在這裡
body {
  background-color: #f0f2f5;
}

.vxe-table--render-default .vxe-table--body, .vxe-table--render-default .vxe-table--footer, .vxe-table--render-default .vxe-table--header .vxe-header--column {
  font-weight: 500;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.85);
}

.vxe-body--column {
  font-weight: 500;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.65);
}

// form-item驗證訊息間距
.ant-form-item-with-help {
  margin-bottom: -7px;
}

// 間距
.container-fluid {
  padding: 5px 30px !important;
}

// scroll 樣式
::-webkit-scrollbar {
  // width: 10px;
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  padding: 0px 3px;
  border-radius: 10px;
  background-color: #bebebe;
}

// 使用loading出現時，body鎖屏
.loading-open {
  overflow: hidden;
  padding-right: 15px;
}

// 除了第一個按鈕，其他按鈕左邊間距
.btnGroup {
  button:not(:first-of-type) {
    margin-left: 10px !important;
  }
}

// 除了最後按鈕，其他按鈕右邊間距
.btnGroup button:not(:last-of-type) {
  margin-right: 7px;
}

// 頁籤
// .ant-tabs.ant-tabs-card {
//   &.main__tabWrap {
//     > .ant-tabs-card-bar {
//       .ant-tabs-tab {
//         box-shadow: 0px 3px 6px #00000029;
//         &:not(.ant-tabs-tab-active){
//           box-shadow: 0px 3px 6px #00000029, inset 0 -3px 7px 0px #0000001c;
//         }
//       }
//     }
//   }
// }
.ant-tabs-tab-arrow-show {
  ~ .ant-tabs-nav-wrap {
    .ant-tabs-nav {
      .ant-tabs-tab {
        &:first-child {
          margin-left: 4px;
        }
        &:last-child {
          margin-right: 4px;
        }

      }
    }
  }
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  border: none;
  line-height: 32px;
  // margin-left: 4px !important;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: $COLOR-MAIN2;
  height: 32px;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: 32px;
}
.ant-tabs-nav-scroll {
  background-color: #f0f2f5;
  // box-shadow: rgb(0 0 0 / 7%) 7px -3px 4px inset;
}
.ant-tabs-tab-prev, .ant-tabs-tab-next {
  border: 1px solid #FFF;
}
// 內層頁籤底線
.tabline .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  border-bottom: 1px solid #D9D9D9 !important;
}
.tabline .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  background: $COLOR-WHITE !important;
  border-bottom: 3px solid $COLOR-MAIN2 !important;
}
.tabline .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  background: $COLOR-WHITE;
  border: 1px solid $COLOR-WHITE;
}

// 陰影
.event--shadow{
  box-shadow: 0px 2px 6px #00000029;
}

// reset ant pagination
.ant-table-pagination {
  font-size: 14px;
}
.ant-pagination-options-quick-jumper {
  &, & input {
    font-size: 14px;
  }
}
.ant-pagination-item-active{
  border: none;
  a {
    color: #ffffff;
    background-color: $COLOR-MAIN2;
    border-radius: 4px;
  }
  &:focus, &:hover {
    border: none;
    a {
      color: #ffffff;
      background-color: $COLOR-MAIN2;
      border-radius: 4px;
    }
  }
}
.ant-pagination-item {
  border: 1px solid transparent;
  min-width: 24px;
  height: 24px;
  a {
    font-size: 14px;
    line-height: 24px;
  }
}
.ant-pagination-prev,
.ant-pagination-next {
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  .ant-pagination-item-link {
    border: 1px solid transparent;
  }
  .anticon {
    vertical-align: -0.135em;
  }
}
.ant-pagination-options-size-changer {
  .ant-select-selection {
    .ant-select-selection__rendered {
      margin-right: 30px;
    }
    .ant-select-selection-selected-value {
      font-size: 14px;
    }
  }
}
// reset ant pagination

// modal確認樣式
.ant-btn-primary {
  color: $COLOR-WHITE;
  background-color: $COLOR-MAIN2;
  border-color: $BORDER-COLOR-GRAY;
}

// datepicker 間距
.ant-calendar-range-picker-input:placeholder-shown {
  text-align: inherit;
}
.ant-calendar-range-picker-separator {
  padding-right: 10px;
}
// datepicker確定按鈕樣式
.ant-calendar-range .ant-calendar-footer-extra {
  float: right !important;
}

// textarea 卷軸
textarea {
  overflow-y: auto !important;
}

.ant-table-thead > tr > th {
  height: 5px;
  padding: 8px;
}
.ant-table-thead > tr > th{
  white-space:nowrap;
}
// 選單間距
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  height: 32px !important;
  line-height: 35px !important;
  margin: 0 !important;
}
// 修改前修改後檢視彈窗
.beforeWrap {
  padding: 0 10px;
  +.afterWrap {
    padding: 0 10px;
    border-left: 1px solid #D9D9D9;
  }
}
// 修改前修改後檢視彈窗
.beforeWrap {
  padding: 0 10px;
  +.afterWrap {
    padding: 0 10px;
    border-left: 1px solid #D9D9D9;
  }
}
// 下拉選單客製按鈕 start
.dropdownRender__divider__block {
  margin: 4px 0;
}
.dropdownRender__block {
  padding: 4px 8px;
  cursor: pointer;
}
// .addItem_wrap {
//   flex: 1;
// }
// 下拉選單客製按鈕 end

// 下載檔案樣式
.download {
  color: $COLOR-MAIN14;
  cursor: pointer;
}
.download__icon {
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.download--delete {
  display: none;
}
.download--hover:hover {
  background-color: #e6f7ff;
  .download--delete {
    display: block;
  }
}
.download__wrap {
  float: right;
  padding-right: 2px;
}

// vxe table 分頁區塊高度
.vxe-pager {
  font-size: 14px;
  height: 45px;
}

.ant-switch-checked {
  background-color: #0093C1;
}

// 清空icon
.btn__main--lightBlue {
  &.icon__clear {
    padding-left: 36px;
    background-position: 15px;
    background-repeat: no-repeat;
    background-image: url('~@images/icon_clear.svg');
    &:hover {
      background-image: url('~@images/icon_clear_blue.svg');
    }
  }
}

// 資料比對icon
.btn__main--primary {
  &.icon__comparison {
    padding-left: 36px !important;
    background-position: 15px !important;
    background-repeat: no-repeat !important;
    background-image: url('~@images/icon_comparison.svg');
    &:disabled {
      background-image: url('~@images/icon_comparison_gray.svg');
      &:hover {
        color: $COLOR-GRAY21;
        border-color: $COLOR-GRAY13;
        text-shadow: none;
        box-shadow: none;
      }
    }
  }
}