// 主色系
$COLOR-MAIN1: #007AA7;
$COLOR-MAIN2: #0093C1;
$COLOR-MAIN3: #549AD6;
$COLOR-MAIN4: #00A59B;
$COLOR-MAIN5: #00A59E;
$COLOR-MAIN6: #52C41A;
$COLOR-MAIN7: #88D96A;
$COLOR-MAIN8: #F5222D;
$COLOR-MAIN9: #E8646E;
$COLOR-MAIN10: #E48A77;
$COLOR-MAIN11: #F6C147;
$COLOR-MAIN12: #251715;
$COLOR-MAIN13: #F6FAFC;
$COLOR-MAIN14: #1890FF;
$COLOR-MAIN15: #40A9FF;
$COLOR-MAIN16: #096dd9;
$COLOR-MAIN17: #d9363e;

$COLOR-WHITE: #FFF;
$COLOR-BLACK: #000;

$COLOR-GRAY1: #00000017;
$COLOR-GRAY2: #000000A6;
$COLOR-GRAY3: #00000029;
$COLOR-GRAY4: #00000026;
$COLOR-GRAY5: #00000040;
$COLOR-GRAY6: #0000000A;
$COLOR-GRAY7: #000000D9;
$COLOR-GRAY8: #48484880;
$COLOR-GRAY9: #FFFFFF26;
$COLOR-GRAY10: #595959;
$COLOR-GRAY11: #FFFDFD83;
$COLOR-GRAY12: #FFFFFFA6;
$COLOR-GRAY13: #D9D9D9;
$COLOR-GRAY14: #FAFAFA;
$COLOR-GRAY15: #F5F5F5;
$COLOR-GRAY16: #F8F8F8;
$COLOR-GRAY17: #363636;
$COLOR-GRAY18: #CED4D9;
$COLOR-GRAY19: #EBEBEB;
$COLOR-GRAY20: #999999;
$COLOR-GRAY21: #B7B7B7;

// button
$BUTTON-MAIN: $COLOR-MAIN3;
$BUTTON-BG-RED: $COLOR-MAIN8;
$BUTTON-HOVER-BG-GREEN: $COLOR-MAIN7;
$BUTTON-HOVER-BG-LIGHT-RED: $COLOR-MAIN9;
$BUTTON-HOVER-BG-LIGHT-BLUE: $COLOR-MAIN3;
$BUTTON-HOVER-TEXT-LIGHT-BLUE: $COLOR-MAIN15;
$BUTTON-CIRCLE-BG-GREEN: $COLOR-MAIN6;
$BUTTON-TEXT-GRAY: $COLOR-GRAY10;

// text
$TEXT-PRIMARY: $COLOR-GRAY9;
$TEXT-BLUE: $COLOR-MAIN3;
$TEXT-PLACEHOLDER: $COLOR-GRAY5;
$TEXT-BUTTON-CANCEL: $COLOR-GRAY2;
$TEXT-BOLD: 600;

// Form Error
$FORMCHECKERROR-TEXT: $COLOR-MAIN9;
$FORMRADIOERROR-BORDER: $COLOR-MAIN9;

// background
$BG-PRIMARY: $COLOR-GRAY15;
$BG-GRAY: $COLOR-MAIN1;

// modal
$MODAL-ICON-SUCCESS: $COLOR-MAIN6;
$MODAL-ICON-ERROR: $COLOR-MAIN8;

$MODAL-SUCCESS-CONFIRM-BG: $COLOR-MAIN3;
$MODAL-SUCCESS-CONFIRM-TXT: $COLOR-WHITE;

$MODAL-ERROR-CONFIRM-BG: $COLOR-GRAY15;
$MODAL-ERROR-CONFIRM-TXT: $COLOR-MAIN8;
$MODAL-ERROR-CONFIRM-BORDER: $COLOR-MAIN13;

$MODAL-BTN-BORDER: $COLOR-GRAY18;
$BORDER-COLOR-GRAY: $COLOR-GRAY13;
$BORDER-COLOR-GREEN: $COLOR-MAIN13;
$BOX-BORDER-COLOR: $COLOR-MAIN13;
$TABLE-BORDER-COLOR: $COLOR-GRAY19;
