@import '@/style/icon.scss';

/* ------------- Basic ------------- */
html{
  height: 100%;
}
body {
  min-height: 100%;
}
p {
  margin-bottom: 0;
}

/* ------------- 彈窗 ------------- */
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.6);
}
.ant-modal-content {
  border-radius: 4px;
  .ant-modal-confirm-body-wrapper {
    display: flex;
    flex-direction: column;
  }
  .ant-modal-confirm-title {
    color: $COLOR-BLACK;
  }
  .ant-modal-confirm-content {
    color: #595959;
  }
  .ant-modal-confirm-btns {
    margin-top: 50px;
    margin-left: auto;
  }
  .icon__custom {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 10px;
    border-radius: 50vh;
    ~.ant-modal-confirm-content {
      margin-left: 33px;
    }
  }
  .icon__error {
    background: url('~@images/image_alert.svg') no-repeat center $MODAL-ICON-ERROR;
  }
  .icon__delete {
    background: url('~@images/image_deletAlert.svg') no-repeat center $MODAL-ICON-ERROR;
  }
  // 一般狀態
  .ant-btn {
    border-radius: 4px;
    color: $MODAL-BTN-CANCEL-TXT;
    &:hover, &:active, &:focus {
      border-color: $MODAL-BTN-BORDER;
    }
  }
  // 確定/送出按鈕
  .ant-btn-confrim {
    background-color: $MODAL-CONFIRM-BG;
    color: $MODAL-CONFIRM-TXT;
  }
  .ant-btn-warning {
    color: $MODAL-BTN-OK-TXT;
  }
}

/* ------------- main ------------- */
.ant-layout {
  background: $COLOR-WHITE;
  &.bg__blue {
    background-color: $MAIN-BG-BLUE;
  }
}
.main-header {
  min-height: 33px;
  margin-bottom: 10px;
}
.main-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-title {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 33px;
  font-weight: 600;
}
.ant-divider-dashed {
  border-color: $COLOR-GRAY1;
}

.main-HeaderBtn__group {
  text-align: center;
  margin-bottom: 20px;
}
.main-HeaderInfo {
  margin-bottom: 10px;
  .info__item {
    flex: 1;
    background-color: $MAIN-HEADER-INFO-BG-BLUE;
    font-size: 16px;
    padding: 11px 17px;
    + .info__item {
      margin-left: 10px;
    }
  }
  .info__item__title {
    font-weight: bold;
  }
  .locker__item {
    flex: 0 0 150px;
  }
}

.main-EditGroup {
  .main-Edit__leftBlock,
  .main-Edit__middleBlock,
  .main-Edit__rightBlock {
    flex: 1 1 0;
  }
  .main-Edit__leftBlock {
    text-align: right;
  }
}
.main-EditGroup__header {
  display: flex;
  background-color: $MAIN-EDITGROUP-BG-BLUE;
  color: $MAIN-EDITGROUP-TXT;
  .main-Edit__leftBlock,
  .main-Edit__middleBlock,
  .main-Edit__rightBlock {
    padding: 14px 7.5px;
  }
}
.main-EditGroup__body {
  .main-Edit__leftBlock,
  .main-Edit__middleBlock,
  .main-Edit__rightBlock,
  .main-Edit__title {
    padding: 10px 7.5px;
  }
  .main-Edit__item-formControl,
  .main-Edit__item-formType {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.main-Edit__section {
  padding: 10px 0;
  border-bottom: 1px dashed $MAIN-EDITGROUP-SECTION-BORDER-COLOR;
  &:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid $MAIN-EDITGROUP-SECTION-LAST-BORDER-COLOR;
  }
}
.main-Edit__titleWrap {
  display: flex;
}
.main-Edit__title {
  padding: 14px 7.5px;
  color: $MAIN-EDITGROUP-SECTION-TITLE;
  font-weight: 500;
  font-size: 16px;
  width: calc(100% / 3);
  text-align: right;
}
.main-Edit__item {
  display: flex;
  align-items: center;
}




/* ------------- table ------------- */
.result__table {
  margin-bottom: 16px;
  .ant-table {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $TABLE-OUTER-BORDER-BOTTOM-COLOR;
    overflow-x: auto;
    font-size: 16px;
    th, td {
      word-break: keep-all;
    }
    .ant-table-thead {
      background: $COLOR-MAIN6;
      th {
        color: $COLOR-WHITE;
        padding: 8px 15px !important;
      }
    }
    .ant-table-content {
  
      .ant-table-body {
        margin: 0;
      }
    }
    .ant-table-tbody {
      > tr {
        > td {
          border-bottom: 1px solid $TABLE-TD-BORDER-BOTTOM-COLOR;
          padding: 8px 15px !important;
        }
      }
    }
  }
}



/* ------------- pagination ------------- */
// .ant-pagination {
//   &.ant-table-pagination {
//     float: left;
//   }
// }
$paddingHeight: 30;
$borderRadius: 4;
.ant-table-pagination {
  &.ant-pagination {
    display: flex;
    align-items: center;
    .ant-pagination-item {
      border-color: $PAGINATION-OPTIONS-BORDER-COLOR;
      line-height: calc(#{$paddingHeight}px - 2px);
      width: #{$paddingHeight}px;
      border-radius: #{$borderRadius}px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-left: 4px;
      margin-right: 4px;
      &:focus,
      &:hover {
        a {
          color: unset;
        }
        &:not(.ant-pagination-item-active) {
          border-color: $PAGINATION-BUTTON-HOVER-BORDER-COLOR;
          a {
            color: $PAGINATION-BUTTON-HOVER-BORDER-COLOR;
          }
        }
      }
      &.ant-pagination-item-active {
        background-color: $PAGINATION-BUTTON-ACTIVE-BG;
        color: $PAGINATION-BUTTON-ACTIVE-TXT-COLOR;
      }
      &:not(.ant-pagination-item-active) {
        border-color: $PAGINATION-OPTIONS-BORDER-COLOR;
      }
    }
    .ant-pagination-prev,
    .ant-pagination-next {
      line-height: #{$paddingHeight}px;
      height: #{$paddingHeight}px;
      width: #{$paddingHeight}px;
      margin-left: 4px;
      margin-right: 4px;
      .ant-pagination-item-link {
        border-color: $PAGINATION-OPTIONS-BORDER-COLOR;
        border-radius: #{$borderRadius}px;
        .anticon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }
      &:not(.ant-pagination-disabled) {
        .ant-pagination-item-link {
          &:focus,
          &:hover {
            a {
              color: $PAGINATION-BUTTON-HOVER-BORDER-COLOR;
            }
            &:not(.ant-pagination-item-active) {
              border-color: $PAGINATION-BUTTON-HOVER-BORDER-COLOR;
            }
          }
        }
      }
    }
    .ant-pagination-options {
      margin-left: 15px;
      .ant-select {
        height: #{$paddingHeight}px;
      }
      .ant-select-selection--single {
        height: #{$paddingHeight}px;
        border-radius: #{$borderRadius}px;
      }
      .ant-select-selection__rendered {
        line-height: #{$paddingHeight}px;
        margin-right: 30px;
      }
      input {
        border-color: $PAGINATION-OPTIONS-BORDER-COLOR;
        border-radius: #{$borderRadius}px;
        height: #{$paddingHeight}px;
      }
    }
  }
}

/* ------------- form ------------- */
.formContent {
  background-color: white;
  border-radius: 10px;
  padding: 20px 0 40px;
  max-width: 100%;
}
.gioFormGroup {
  .ant-form-item-label {
    padding-bottom: 5px;
    padding-top: 5px;
    > label {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .ant-input-group-addon {
    > button {
      border-radius: 4px;
    }
  }
  > .ant-form-item {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
    + .ant-form-item {
      margin-top: 20px;
    }
  }
  .ant-form-item-control {
    .ant-form-item {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .ant-btn {
    > .anticon {
      line-height: 30px;
    }
  }
}
.ant-form-item-label {
  font-weight: 500;
}
$formWidth: ('275', '532', '550', '570', '720', '860', '900', '1088');
@each $item in $formWidth {
  .formW#{$item} {
    max-width: #{$item}px;
    margin: 0 auto;
  }
}
.form-item__bg--blue {
  background-color: $FORMCHECKBOX-BG;
  &.ant-form-item {
    padding-bottom: 0;
    margin-bottom: 23px;
  }
  + .message--error {
    position: relative;
    top: -20px;
  }
}
.ant-radio-wrapper,
.ant-checkbox-wrapper {
  margin-right: 22px;
}
.search-header {
  min-height: 25px;
  margin-bottom: 20px;
}
.search-footer {
  margin-top: 40px;
}
.form-label-slot {
  display: flex;
  align-items: center;
  .anticon-info-circle {
    margin-left: 3px;
  }
}
input::placeholder {
  color: rgba($INPUT-PLACEHOLDER, .70);
}

// checkbox 、 radio 群 固定最小寬度
$antFormWrapper: 'radio', 'checkbox';
@each $item in $antFormWrapper {
  .ant-#{$item}-wrapper {
    > span {
      &:not(.ant-#{$item}) {
        display: inline-block;
        min-width: 3.5rem;
      }
    }
  }
}

// 表單驗證
.message--error {
  color: $FORMCHECKERROR-TEXT;
  margin-top: 2px;
  font-size: 14px;
}

.ant-upload-hint {
  color: $FORMCHECKERROR-TEXT;
  padding-left: 10px;
  font-size: 12px;
}


/* ------------- button ------------- */
.confirm__button-group {
  margin-top: 50px;
  margin-bottom: 20px;
}
.confirm__button {
  min-width: 150px;
  border-radius: 50vh;
  font-size: 16px;
  padding: 12px 20px;
  border: 0;
}
.confirm__button-submit {
  color: $BUTTON-COLOR;
  background: $BUTTON-BG 0% 0% no-repeat padding-box;
  border: 3px solid transparent;
  box-sizing: border-box;
  &:hover {
    background-color: $BUTTON-BG-HOVER;
    border-color:$BUTTON-BORDER-HOVER;
  }
}
.confirm__button-download {
  color: $BUTTON-COLOR-BLUE;
  background: $BUTTON-BG-WHITE 0% 0% no-repeat padding-box;
  border: $BUTTON-BORDER-BLUE 1px solid;
  box-shadow: 0 0 0 3px transparent;
  &:hover {
    background-color: $BUTTON-BG-WHITE;
    box-shadow: 0 0 0 3px $BUTTON-BORDER-HOVER;
  }
}
.confirm__button-cancel {
  color: $BUTTON-COLOR-BLUE;
  background: $BUTTON-BG-WHITE 0% 0% no-repeat padding-box;
  border: $BUTTON-BORDER-BLUE 1px solid;
  box-shadow: 0 0 0 3px transparent;
  margin-right: 10px;
  &:hover {
    background-color: $BUTTON-BG-WHITE;
    box-shadow: 0 0 0 3px $BUTTON-BORDER-HOVER;
  }
}
.card-confirm__button-group {
  margin-top: 40px;
  margin-bottom: 20px;
}
.card-header-btn {
  font-size: 16px;
  padding: 5px 18px;
  background-color: $ICON-BUTTON-BG-BLUE;
  border-radius: 4px;
  border: 0;
  text-align: center;
  &.text-btn {
    color: $COLOR-WHITE;
  }
}

.ant-radio-button-wrapper {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}

.btn__bg--secondary {
  background-color: $BG-COLOR-SECONDARY;
  color: $TEXT-COLOR-WHITE;
}
.btn__bg--danger {
  background-color: $BG-COLOR-DANGER;
  color: $TEXT-COLOR-WHITE;
}
.btn__bg--primary {
  background-color: $BG-COLOR-PRIMARY;
  color: $TEXT-COLOR-WHITE;
}
.btn__bg--disabled {
  background-color: $BG-COLOR-DISABLED !important;
  color: $TEXT-COLOR-DISABLED !important;
}

/* ------------- 客製化檔案上傳列表 ------------- */
.upload-list {
  font-size: 14px;
  .upload-list-item {
    position: relative;
    align-items: center;
    padding: 0 3px;
    margin-top: 8px;
    &:hover {
      background-color: $ICON-BG-HOVER-BLUE;
      .icon-deleteGray {
        opacity: 1;
      }
    }
    .icon-paperclip {
      width: 13px;
      margin: 0;
    }
    .icon-deleteGray {
      position: absolute;
      right: 3px;
      cursor: pointer;
      width: 13px;
      opacity: 0;
    }
  }
}

/* ------------- antd $notification ------------- */
.notification__success {
  width: 250px;
  margin-left: auto;
  .ant-notification-close-x {
    display: none;
  }
}

/* ------------- page內 卡片形式 ------------- */
.page__card {
  width: 100%;
  min-height: 200px;
  background: $COLOR-WHITE;
  border-radius: 10px;
  .gioFormGroup {
    padding: 35px 7.5px;
    font-size: 16px;
  }
  .gioConfirmGroup {
    padding: 10px 7.5px 35px;
    font-size: 16px;
  }
  .ant-form-item-control {
    padding: 0 16px;
  }
  .ant-row {
    .ant-form-item-control {
      padding: 0;
    }
  }
  .result__info {
    padding: 5px 0;
  }
  .ant-radio-group,
  .ant-checkbox-group {
    padding: 5px 0;
  }
}
.gioConfirmGroup {
  .row-confirm-item {
    margin-top: 20px;
    line-height: 1.5;
  }
  .confirm-item__title {
    padding: 5px 16px;
    text-align: right;
  }
  .result__info {
    padding: 5px 16px;
  }
}

/* ------------- Antd 全域覆寫區 ------------- */
// switch 按鈕
.ant-switch-inner {
  margin-left: 20px;
  margin-right: 4px;
}
.ant-switch-checked {
  background-color: $TABLE-TD-SWITCH-CHECK-BG;
  .ant-switch-inner {
    margin-right: 20px;
    margin-left: 4px;
  }
}
.ant-input,
.ant-input-number,
.ant-select-selection {
  border-radius: 4px;
  overflow: hidden;
}
.ant-form label,
.ant-form-item,
.ant-input,
.ant-input-number-input,
.ant-select-selection-selected-value {
    font-size: 16px;
}

// alert UI - Danger button
.ant-btn {
  &.ant-btn-warning {
    background-color: $BG-COLOR-DANGER;
  }
}

.ant-upload-list-item-name {
  padding-left: 10px;
}
.has-error {
  .ant-checkbox-inner,
  .ant-radio-inner,
  .mx-input {
    border-color: $FORMRADIOERROR-BORDER;
  }
  .ant-checkbox-wrapper,
  .ant-checkbox {
    &:hover {
      .ant-checkbox-inner {
        border-color: $FORMRADIOERROR-BORDER;
      }
    }
  }
  .ant-checkbox-input {
    &:focus {
      + .ant-checkbox-inner {
        border-color: $FORMRADIOERROR-BORDER;
      }
    }
  }
}

.ant-input-clear-icon, .ant-input-textarea-clear-icon {
  color: rgba(0,0,0,.25);
}

form textarea.ant-input {
  margin-bottom: 0;
}

.ant-pagination-options {
  display: flex;
}