@font-face {
  font-family: Noto_Sans_TC;
  font-style: normal;
  font-weight: 100;
  src: url("./Noto_Sans_TC/NotoSansTC-Thin.otf") format("opentype");
}

@font-face {
  font-family: Noto_Sans_TC;
  font-style: normal;
  font-weight: 300;
  src: url("./Noto_Sans_TC/NotoSansTC-Light.otf") format("opentype");
}

@font-face {
  font-family: Noto_Sans_TC;
  font-style: normal;
  font-weight: 400;
  src: url("./Noto_Sans_TC/NotoSansTC-Regular.otf") format("opentype");
}

@font-face {
  font-family: Noto_Sans_TC;
  font-style: normal;
  font-weight: 500;
  src: url("./Noto_Sans_TC/NotoSansTC-Medium.otf") format("opentype");
}

@font-face {
  font-family: Noto_Sans_TC;
  font-style: normal;
  font-weight: 700;
  src: url("./Noto_Sans_TC/NotoSansTC-Bold.otf") format("opentype");
}

@font-face {
  font-family: Noto_Sans_TC;
  font-style: normal;
  font-weight: 900;
  src: url("./Noto_Sans_TC/NotoSansTC-Black.otf") format("opentype");
}