@import '../_varibles.scss';
.icon_margin {
  margin-right: 4.1px;
}
.ant-btn {
  padding: 2px 15px 0 15px
}
.ant-select-arrow {
  padding-top: 1px
}
.ant-select-selection {
  padding-top: 1px
}
// 主要按鈕
.btn__main{
  font-weight: 400;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  height: 30.99px;
  padding: 0 15px 0 15px;
  font-size: 14px;
  border-radius: 4px;
}

.btn__main:disabled {
  cursor: not-allowed;
  background-color: $COLOR-GRAY15;
  border: 1px $COLOR-GRAY13 solid;
  color: $COLOR-GRAY21;
  &:hover {
    color: $COLOR-GRAY21;
    border-color: $COLOR-GRAY13;
    background: $COLOR-GRAY15;
    text-shadow: none;
    box-shadow: none;
  }
}

.btn__main--primary, .btn__main--primary:focus {
  color: $COLOR-WHITE;
  background-color: $COLOR-MAIN2;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--primary:focus-visible {
  outline: 1px solid $BORDER-COLOR-GRAY;
  color: $COLOR-WHITE;
  background-color: $COLOR-MAIN15;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--primary:hover {
  color: $COLOR-WHITE;
  background-color: $COLOR-MAIN15;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--primary:active {
  color: $COLOR-WHITE;
  border-color: $COLOR-MAIN16;
  background: $COLOR-MAIN16;
}

// 退回/拒絕按鈕
.btn__main--lightRed, .btn__main--lightRed:focus {
  color: $BUTTON-TEXT-GRAY;
  background-color: $COLOR-WHITE;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--lightRed:focus-visible {
  outline: 1px solid $BORDER-COLOR-GRAY;
  color: $COLOR-WHITE;
  background-color: $BUTTON-HOVER-BG-LIGHT-RED;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--lightRed:hover {
  color: $COLOR-WHITE;
  background-color: $BUTTON-HOVER-BG-LIGHT-RED;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--lightRed:active {
  color: $COLOR-MAIN17;
  border-color: $COLOR-MAIN17;
  background: $COLOR-WHITE;
}
// 刪除按鈕
.btn__main--red, .btn__main--red:focus {
  color: $COLOR-WHITE;
  background-color: $BUTTON-BG-RED;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--red:focus-visible {
  outline: 1px solid $BORDER-COLOR-GRAY;
  color: $COLOR-WHITE;
  background-color: $BUTTON-HOVER-BG-LIGHT-RED;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--red:hover {
  color: $COLOR-WHITE;
  background-color: $BUTTON-HOVER-BG-LIGHT-RED;
  border-color: $BORDER-COLOR-GRAY;
}
// modal 按鈕
.modal-btn__wrap {
  position: relative;
  margin-top: 40px;
  button {
    width: 200px;
    max-width: 100%;
    padding: 7px 24px;
    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}
// modal確認樣式
.ant-btn-primary {
  color: $COLOR-WHITE;
  background-color: $COLOR-MAIN2;
  border-color: $BORDER-COLOR-GRAY;
}
.modal__btn__wrap {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-top: 1px solid #e8e8e8;
  border-radius: 0 0 4px 4px;
}

.btn__main--lightBlue, .btn__main--lightBlue:focus {
  color: rgba(0, 0, 0, 0.65);
  background-color: $COLOR-WHITE;
  border-color: $BORDER-COLOR-GRAY;
}

.btn__main--lightBlue:focus {
  color: rgba(0, 0, 0, 0.65);
  background-color: $COLOR-WHITE;
  border-color: $COLOR-MAIN15;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);  
}

.btn__main--lightBlue:focus-visible {
  outline: 1px solid $BORDER-COLOR-GRAY;
  color: $COLOR-MAIN15;
  border-color: $COLOR-MAIN15;
}

.btn__main--lightBlue:hover {
  color: $COLOR-MAIN15;
  border-color: $COLOR-MAIN15;
}

.btn__main--lightBlue:active {
  color: $COLOR-MAIN15;
  border-color: $COLOR-MAIN15;
  background: $COLOR-WHITE;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);  
}