
/* infoModal.vue 樣式 ------------------------------------- start */
.alert__modal__title{
  font-weight: $TEXT-BOLD;
}
.alert__modal__content{
  font-size: 14px;
  white-space: pre-line;
}
.alert__modal__list{
  padding-left: 16px;
  li{
  font-size: 14px;
  list-style-type: disc;
  }
}

// 背景遮罩
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.6);
  // z-index: 1060;
}
// .ant-modal-wrap {
//   z-index: 1065;
// }
.ant-modal {
  font-family: 'PingFang TC', Arial;
  // 標題icon
  .modal__icon {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 10px;
    border-radius: 50vh;
    svg {
      width: 22px;
      height: 22px;
    }
    // 有icon的content 要縮排
    ~.ant-modal-confirm-content {
      margin-left: 33px;
    }
  }
  .modal__icon--success {
    color: $MODAL-ICON-SUCCESS !important;
  }
  .modal__icon--error {
    color: $MODAL-ICON-ERROR !important;
  }
  .modal__btn--dowload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    i {
      margin-right: 5px;
      svg {
        font-size: 20px
      }
    }
  }

  // 標題文字
  .ant-modal-confirm-title {
    color: $COLOR-BLACK;
  }

  // 內文
  .ant-modal-confirm-content {
    color: $COLOR-GRAY17;
  }

  // footer 按鈕群
  .ant-modal-confirm-btns {
    margin-left: auto;
    font-size: 16px;
    margin-top: 20px;
  }

  // 一般狀態
  .ant-btn {
    border-radius: 4px;
    height: auto;
    padding: 4px 15px;
    // border: 0;
    &:hover, &:active, &:focus {
      border-color: $MODAL-BTN-BORDER;
    }
  }

  // sussess彈窗 確定/送出按鈕
  .ant-btn-confirm {
    background-color: $MODAL-SUCCESS-CONFIRM-BG;
    color: $MODAL-SUCCESS-CONFIRM-TXT;
  }

  // error彈窗 確定/送出按鈕
  .ant-btn-error {
    background-color: $MODAL-ERROR-CONFIRM-BG;
    color: $MODAL-ERROR-CONFIRM-TXT;
    border: 1px solid $MODAL-ERROR-CONFIRM-BORDER;
  }
/* infoModal.vue 樣式 ------------------------------------- end */

  .modal__body {
    padding: 16px 16px 0px 16px;
  }
  .ant-modal-close-x {
    line-height: 40px;
  }
  .ant-modal-header {
    padding: 10px 16px;
  }
}