@import '../_varibles.scss';
@import '../_mixin.scss';

/*----------------------------一般大小圓角按鈕-------------------------*/

.btn--search {
  @include button_base($BUTTON-SEARCH, $BUTTON-SEARCH-HOVER, $FONT-LIGHT, $FONT-LIGHT, $BUTTON-SEARCH, $BUTTON-SEARCH, 4px, 14px,);
}
.btn--primary {
  @include button_base($BUTTON-PRIMARY, $BUTTON-PRIMARY-HOVER, $FONT-LIGHT, $FONT-LIGHT, $BUTTON-PRIMARY, $BUTTON-PRIMARY, 4px, 14px,);
}
.btn--dark {
  @include button_base($BUTTON-DARK, $BUTTON-DARK-HOVER, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, 4px, 14px,);
}
.btn--dark--small {
  @include button_base($BUTTON-DARK, $BUTTON-DARK-HOVER, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, 4px, 13px,);
}
.btn--light {
  @include button_base($BUTTON-LIGHT, $BUTTON-LIGHT, $FONT-DARK, $BUTTON-DARK, $BUTTON-LIGHT-BORDER, $BUTTON-DARK, 4px, 14px,);
}
.btn--light--small {
  @include button_base($BUTTON-LIGHT, $BUTTON-LIGHT, $FONT-DARK, $BUTTON-DARK, $BUTTON-LIGHT-BORDER, $BUTTON-DARK, 4px, 13px,);
}
.btn--logout {
  @include button_base(#7E84A3, #666c8b, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, 4px, 14px,);
}
.btn--login{
  @include button_base($BUTTON-SEARCH, $BUTTON-SEARCH-HOVER, $FONT-LIGHT, $FONT-LIGHT, $BUTTON-SEARCH, $BUTTON-SEARCH-HOVER, 4px, 14px,);
  font-size: 18px;
  display: block;
  padding: 12px 0px;
  text-align: center;
  width: 100%;
}
.btn--backhome {
  @include button_base(#1890FF, #2185D0, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, $FONT-LIGHT, 4px, 14px,);
  padding: 7px 23px;
}
.btn--timeout{
  @include button_base(#23C4A8, rgba(35, 196, 168, 0.8), $FONT-LIGHT, $FONT-LIGHT, #23C4A8, rgba(35, 196, 168, 0.8), 4px, 14px,);
  font-size: 14px;
  padding: 12px 0px;
  text-align: center;
  width: 120px;
  max-width: 100%;
}

.btn--action{
  @include button_base($BG-LIGHT, $COLOR-MAIN4, $FONT-PRIMARY, $FONT-PRIMARY, $COLOR-MAIN1,$COLOR-MAIN1, 4px, 14px,);
  padding: 4px 22px;
  text-align: center;
}

// 有「＋」的新增按鈕
.btn--addblock{
  color: $COLOR-MAIN15;
  font-size: 14px;
  padding: 0 50px;
  border: 1px solid $COLOR-MAIN15;
  background: $COLOR-LIGHT;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    color: $COLOR-MAIN1;
    border-color: $COLOR-MAIN1;
    background: $COLOR-MAIN4;
  }
  .icon {
    margin-right: 10px;
  }
}



/*----------------------------純icon按鈕-------------------------*/
$iconsText: (
  "house",
  "bell",
  "small_delete",
  "comparison",
  "small_link",
  "question", "question_red",
  "confirm",
  "edit-acion",
  "delete-action",
  "course-action",
  "enter",
  "question_red",
  "enter1",
  "download",
  "add_name",
  "delete_name",
  "download_light",
  "subproject_add",
  "subproject_close",
);
@each $name in $iconsText {
  .btn__icon--#{$name}{
    @include button_icon_base(24px,20px);
    background-image: url('../assets/images/icon/icon_#{$name}.svg');
    &:hover{
      background-image: url('../assets/images/icon/icon_#{$name}_o.svg');
    }
  }
}
.btn__icon{
  @include button_base($BUTTON-ICON, $BUTTON-ICON-HOVER, $FONT-PRIMARY, $FONT-LIGHT, $FONT-PRIMARY, $FONT-PRIMARY, 4px, 14px,);
  width: 122px;
  text-align: center;
  padding: 7px 0px;
}

$iconsText: ("small_delete");
@each $name in $iconsText {
  .btn__icon--#{$name}--disabled{
    cursor: not-allowed;
    background-image: url('../assets/images/icon/icon_#{$name}_o.svg');
  }
}

// 灰色 disabled icon
$iconsDisabled: (
  "edit-acion",
  "delete-action",
  "course-action",
);
@each $name in $iconsDisabled {
  .btn__icon--#{$name} {
    &[disabled] {
      cursor: not-allowed;
      background-image: url('../assets/images/icon/icon_#{$name}_none.svg');
    }
  }
}


/*----------------------------季工作規劃表 狀態圓圈圈 disable按鈕-------------------------*/
$iconsText: ("edit-acion", "delete-action");
@each $name in $iconsText {
  .btn__icon--#{$name}--disabled{
    cursor: not-allowed;
    background-image: url('../assets/images/icon/icon_#{$name}_none.svg');
  }
}


/*----------------------------綠色icon+文字按鈕-------------------------*/

$iconsText: (
  "close","closed",
  "course",
  "edit",
  "enter",
  "group",
  "save",
  "feedback",
  "return",
  "upload",
  "export","export1","export2",
  "add",
  "manpower",
  "download",
  "change",
  "question",
  "import",
  "questionnaire",
  "set_up",
  "mail",
  "search",
  "sort",
  "version",
  "web_linke",
  "communicate",
  "communicate1",
  "complete",
  "check_fin",
  "list",
  "record",
  "comparison_d"
);

$disabledText: (
  "download",
  "change",
  "edit",
  "mail",
);

@each $name in $iconsText {
  .btn__icon-text--#{$name} {
    background-image: url('~@assets/images/icon/icon_#{$name}.svg');
  }
}
.btn__icon-text{
  @include button_base($BG-LIGHT,rgba(0, 130, 155, 0.8),$FONT-PRIMARY,$FONT-LIGHT,$BUTTON-ICONTEXT,$BUTTON-ICONTEXT,4px,14px);
  min-width: 122px;
  font-size: 14px;
  background-color: $BG-LIGHT;
  border: solid 2px $BUTTON-ICONTEXT;
  text-align: center;
  padding: 3px 8px;
  .btn__icon-text__img,.btn__icon-text__text{
    display: inline-block;
    vertical-align: middle;
  }
  .btn__icon-text__img{
    width: 24px;
    height: 24px;
    transition: background-image .2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .btn__icon-text__text{
    padding-left: 6px;
  }
  &:hover,
  &:active {
    @each $name in $iconsText {
      .btn__icon-text--#{$name} {
        background-image: url('../assets/images/icon/icon_#{$name}_o.svg');
      }
    }
  }
  &:disabled{
    border-color: #AAAAAA;
    color: #AAAAAA;
    border-width: 2px;
    @each $name in $disabledText {
      .btn__icon-text--#{$name} {
        background-image: url('~@assets/images/icon/icon_#{$name}_none.svg');
      }
    }
  }
}

//------------
//粉色帶icon
.btn__icon--export{
  background-color: $COLOR-LIGHT;
  border: 5px $COLOR-MAIN14 solid;
  color: #EA8270;
  text-align: center;
  padding: 37px 36px;
  text-align: center;
  .btn__icon--export-icon{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    object-fit: contain;
  }
  .btn__icon--export-text{
    margin: 0;
    padding-left: 9px;
    display: block;
    font-size: 21px;
    text-align: left;
  }
  // 寫 svg icon & icon hover
}
.btn__icon--export:hover{
  background-color: #EA8270;
  border: 5px $COLOR-LIGHT solid;
  color: $COLOR-LIGHT;
  @each $name in $iconsText {
    .btn__icon-text--#{$name} {
      background-image: url('../assets/images/icon/icon_#{$name}_o.svg');
      width: 32px;
      height: 32px;
    }
  }
}


//
.btn__icon--store--circle{
  @include button_icon_base(54px,54px);
  background-image: url('../assets/images/icon/icon_store.svg');
  &:hover{
    background-image: url('../assets/images/icon/icon_store_o.svg');
    background-color: rgba($color: #000000, $alpha: 0);
  }
  border: none;
  border-radius: 100vh;
  background-color: rgba($color: #000000, $alpha: 0);
}

.btn__icon--gotop--circle{
  @include button_icon_base(54px,54px);
  background-image: url('../assets/images/icon/icon_top.svg');
  &:hover{
    background-image: url('../assets/images/icon/icon_main_top_o.svg');
    background-color: rgba($color: #000000, $alpha: 0);
  }
  border-radius: 100vh;
  border: none;
  background-color: rgba($color: #000000, $alpha: 0);
}


