@import '../_varibles.scss';
.modal__primary{
  // padding-top: 45px;
  .modal__content__title{
    font-size: 23px;
    color: $COLOR-LIGHT;
  }

  .modal__close{
    position: absolute;
    top: -5px;
    right: 0;
    transform: translate(0, -100%);
    cursor: pointer;
    width: 38px;
    height: 38px;
  }
  .ant-modal-content{
    background-color: $BG-PRIMARY;
  }
  
  .ant-form-item{
    margin-bottom: 6px;
  }
  .form--light{
    .ant-form-item-label > label{
      color: $FONT-LIGHT;
    }
    .ant-form-explain{
      color: #f6c352;
    }
  }
}


.modal--padding--small .ant-modal-body{
  padding: 20px 30px;
}
.modal--padding--normal .ant-modal-body{
  padding: 30px;
} 
.modal--height--full {
  .ant-modal{
    top: 0px;
  }
  .ant-modal-body {
    max-height: calc(100vh - 120px);
  }
}

.modal__body--large {
  .ant-modal {
    @include rwd-sm{
      width: 540px;
    }
    @include rwd-md{
      width: 720px;
    }
    @include rwd-lg{
      width: 960px;
    }
    @include rwd-xl{
      width: 1280px;
    }
    @include rwd-xll{
      width: 1675px;
    }
  }
}

.modal__body--middle {
  .ant-modal {
    width: 950px;
  }
}

.modal__body--small{
  .ant-modal {
    width: 544px;
  }
}


// // ant design model 標題icon
// .modal__icon{
//   width: 22px;
//   height: 22px;
//   padding: 1px;
//   border-radius: 100%;
//   float: left;
//   margin-right: 10px;
//   border-radius: 50vh;
//   ~.ant-modal-confirm-content {
//     margin-left: 33px;
//   }
// }

// // .modal__icon--delete{
// //   background-image: url('../assets/image_delet.svg');
// //   background-color: #E06262;
// //   background-position: center;
// //   background-repeat: no-repeat;
// // }

// // .modal__icon--alert{
// //   background-image: url('../assets/image_alert_1.svg');
// //   background-position: center;
// //   background-repeat: no-repeat;
// // }

// .notification__success {
//   width: 250px;
//   margin-left: auto;
//   .ant-notification-close-x {
//     display: none;
//   }
// }

// // 上傳檔案錯誤彈窗
// .confirm__modal {
//   .ant-modal-title {
//     font-size: 16px;
//     padding-top: 3px;
//     color: #000000;
//   }
//   .ant-modal-header {
//     border: 0;
//   }
//   .ant-modal-body {
//     padding: 5px 24px;
//     color: #000000A6;
//   }
// }

