// // 大型彈窗 左上角 綠色大叉叉
// .modal-close {
//   position: absolute;
//   left: -22px;
//   top: -22px;
//   z-index: 99;
//   border-radius: 100%;
//   background-color: $BS-COLOR-MAIN1;
//   color: #fff;
//   width: 44px;
//   height: 44px;
//   outline: 0;
//   border: 0;
//   cursor: pointer;
// }


// // ant design model
// 左上角叉叉
.fubon-backStage_modal {
  .ant-modal-close-x {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// // 背景遮罩
// .ant-modal-mask {
//   background-color: rgba(0, 0, 0, 0.6);
//   z-index: 1060;
// }
// .ant-modal-wrap {
//   z-index: 1065;
// }
.fubon-backStage_ant-modal {
  font-family: 'PingFang TC', Arial;
  // 標題icon
  .modal__icon {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 10px;
    border-radius: 50vh;
    svg {
      width: 22px;
      height: 22px;
    }
    // 有icon的content 要縮排
    ~.ant-modal-confirm-content {
      margin-left: 33px;
    }
  }
  .modal__icon--success {
    color: $BS-MODAL-ICON-SUCCESS !important;
  }
  .modal__icon--error {
    color: $BS-MODAL-ICON-ERROR !important;
  }
  .modal__btn--dowload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    i {
      margin-right: 5px;
      svg {
        font-size: 20px
      }
    }
  }

  // 標題文字
  .ant-modal-confirm-title {
    color: $BS-COLOR-BLACK;
  }

  // 內文
  .ant-modal-confirm-content {
    color: $BS-COLOR-GRAY1;
  }

  // footer 按鈕群
  .ant-modal-confirm-btns {
    margin-left: auto;
    font-size: 16px;
    margin-top: 20px;
  }

  // 一般狀態
  // .ant-btn {
  //   border-radius: 4px;
  //   height: auto;
  //   padding: 4px 15px;
  //   // border: 0;
  //   &:hover, &:active, &:focus {
  //     border-color: $MODAL-BTN-BORDER;
  //   }
  //   &:disabled {
  //     color: $BUTTON-DISABLED-COLOR-GRAY;
  //   }
  // }

  // sussess彈窗 確定/送出按鈕
  // .ant-btn-confirm {
  //   background-color: $MODAL-SUCCESS-CONFIRM-BG;
  //   color: $MODAL-SUCCESS-CONFIRM-TXT;
  // }

  // // error彈窗 確定/送出按鈕
  // .ant-btn-error {
  //   background-color: $MODAL-ERROR-CONFIRM-BG;
  //   color: $MODAL-ERROR-CONFIRM-TXT;
  //   border: 1px solid $MODAL-ERROR-CONFIRM-BORDER;
  // }

}

// .notification__success {
//   line-height: 1;
//   min-width: 250px;
//   margin-left: auto;
//   .ant-notification-close-x {
//     display: none;
//   }
// }

// // 錯誤提示
// .alert-modal{
//   .alert__modal__title{
//     font-weight: bold;
//   }
//   .alert__modal__content{
//     font-size: 16px;
//     white-space:pre-line;
//   }
//   .alert__modal__list{
//     padding-left: 16px;
//     li{
//     font-size: 16px;
//     list-style-type: disc;
//     }
//   }
//   button{
//     height: 32px;
//     span{
//       font-size: 16px;
//     }
//   }
// }

// 共用彈窗樣式
.fubon-backStage_modal {
  .ant-modal-header, .ant-modal-body {
    padding: 24px 10%;
    border: 0;
  }
  .ant-modal-footer {
    border: 0;
  }
  .ant-modal-close {
    position: absolute;
    left: -22px;
    top: -22px;
    z-index: 99;
    border-radius: 100%;
    background-color: $BS-COLOR-MAIN1;
    color: #fff;
    width: 44px;
    height: 44px;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
  .ant-modal-close-x {
    width: 100%;
    height: 100%;
    .anticon-close {
      vertical-align: text-top;
    }
  }
}

// 提示彈穿RWD
.modal__custom__confirm {
  @include media-breakpoint-down('lg') {
    .ant-modal-body {
      padding: 19px 0 0;
      text-align: center;
    }
    .modal__icon {
      float: none;
      margin-bottom: 13px;
    }
    .ant-modal-confirm-title {
      font-weight: 600;
    }
    .ant-modal-content {
      overflow: hidden;
    }
    .ant-modal-confirm-content {
      padding: 16px;
      margin: 0 !important;
      text-align: left;
    }
    .ant-modal-confirm-btns {
      float: none;
      margin: 0;
      button {
        width: 50%;
        margin: 0 !important;
        padding: 12px 0;
        border-radius: 0;
        height: auto;
      }
    }
    &.with__single__btn {
      .ant-modal-confirm-btns button {
        width: 100%;
      }
    }
  }
}









