// 主色系
$COLOR-MAIN1: #1489D1;
$COLOR-MAIN2: #20B6B2;
$COLOR-MAIN3: #4CAAF5;
$COLOR-MAIN4: #2296F3;
$COLOR-MAIN5: #F0F8FF;
$COLOR-MAIN6: #7CACD3;
$COLOR-MAIN7: #E06262;
$COLOR-MAIN8: #F2F8FF;
$COLOR-MAIN9: #F77878;
$COLOR-MAIN10: #CECECE;
$COLOR-MAIN11: #F5F5F5;
$COLOR-MAIN12: #FC0000;
$COLOR-MAIN13: #E6F4FF;
$COLOR-MAIN14: #1797FB;
$COLOR-MAIN15: #F2F8FF;
$COLOR-MAIN16: #e6f7ff;

$COLOR-MAIN3-OPACITY: #4CAAF566;

$COLOR-WHITE: #FFF;
$COLOR-BLACK: #000;


$COLOR-GRAY1: #DFE6EC;
$COLOR-GRAY2: #D9D9D9;
$COLOR-GRAY3: #788088;
$COLOR-GRAY4: #8C8C8C;
$COLOR-GRAY5: #999;
$COLOR-GRAY6: #595959;

$FOOTER-BG: $COLOR-GRAY1;

// Main Bg
$MAIN-BG-BLUE: $COLOR-MAIN8;
$MAIN-HEADER-INFO-BG-BLUE: $COLOR-MAIN8;
$MAIN-EDITGROUP-BG-BLUE: $COLOR-MAIN6;
$MAIN-EDITGROUP-TXT: $COLOR-WHITE;
$MAIN-EDITGROUP-SECTION-BORDER-COLOR: $COLOR-MAIN10;
$MAIN-EDITGROUP-SECTION-LAST-BORDER-COLOR: $COLOR-GRAY3;
$MAIN-EDITGROUP-SECTION-TITLE: $COLOR-MAIN3;

// Login
$LOGIN-BG: $COLOR-MAIN5;
$INPUT-FOCUS-BORDER-COLOR: $COLOR-MAIN4;
$LOGINBUTTON-COLOR: $COLOR-MAIN3;
$INPUT-PLACEHOLDER: $COLOR-GRAY5;

// narbar
$NARBARMENU-COLOR: $COLOR-BLACK;
$NARBARMENU-HOVER-COLOR: $COLOR-MAIN3;

$BUTTON-BG: $COLOR-MAIN3;
$BUTTON-COLOR: $COLOR-MAIN5;
$BUTTON-BG-WHITE: $COLOR-WHITE;
$BUTTON-COLOR-GRAY: $COLOR-GRAY4;
$BUTTON-COLOR-BLUE: $COLOR-MAIN3;
$BUTTON-BORDER-GRAY: $COLOR-GRAY2;
$BUTTON-BORDER-BLUE: $COLOR-MAIN3;

// $BUTTON-BG-HOVER: darken($COLOR-MAIN3, 10%);
$BUTTON-BG-HOVER: $COLOR-MAIN3;
$BUTTON-BORDER-HOVER: $COLOR-MAIN3-OPACITY;

// loading
$LOADING-TXT-COLOR: $COLOR-WHITE;
$LOADING-COLOR: $COLOR-MAIN6;

// modal
$MODAL-ICON-ERROR: $COLOR-MAIN7;
$MODAL-CONFIRM-BG: $COLOR-MAIN3;
$MODAL-CONFIRM-TXT: $COLOR-WHITE;

$MODAL-BTN-BORDER: $COLOR-GRAY2;
$MODAL-BTN-CANCEL-TXT: $COLOR-BLACK;
$MODAL-BTN-OK-TXT: $COLOR-MAIN12;

$BREADCRUMB-BG: $COLOR-MAIN8;

// 表格中的 btn
$ICON-BUTTON-BG-BLUE: $COLOR-MAIN3;
$ICON-BUTTON-BG-RED: $COLOR-MAIN9;

$BUTTON-BG-GRAY: $COLOR-GRAY3;
$BUTTON-COLOR-WHITE: $COLOR-WHITE;
$BUTTON-DISABLED-BG-GRAY: $COLOR-MAIN10;
$BUTTON-DISABLED-COLOR-GRAY: $COLOR-GRAY5;

$ICON-BG-HOVER-BLUE: $COLOR-MAIN16;

// Table
$TABLE-OUTER-BORDER-BOTTOM-COLOR: $COLOR-MAIN10;
$TABLE-TD-BORDER-BOTTOM-COLOR: $COLOR-MAIN11;
$TABLE-TD-SWITCH-CHECK-BG: $COLOR-MAIN3;
$TABLE-EXPENDED-ROW-BG: $COLOR-MAIN15;

// pagination 分頁
$PAGINATION-OPTIONS-BORDER-COLOR: $COLOR-GRAY1;
$PAGINATION-BUTTON-ACTIVE-BG: $COLOR-MAIN3;
$PAGINATION-BUTTON-ACTIVE-TXT-COLOR: $COLOR-WHITE;
$PAGINATION-BUTTON-HOVER-BORDER-COLOR: $COLOR-MAIN3;

// 全選的checkbox
$AllCHECKBOX-BG: $COLOR-MAIN13;
$FORMCHECKBOX-BG: $COLOR-MAIN13;

// FORM ERROR
$FORMCHECKERROR-BORDER: $COLOR-MAIN12;
$FORMCHECKERROR-TEXT: $COLOR-MAIN12;
$FORMRADIOERROR-BORDER: $COLOR-MAIN12;

// background-color
$BG-COLOR-SECONDARY: $COLOR-GRAY3;
$BG-COLOR-DANGER: $COLOR-MAIN11;
$BG-COLOR-PRIMARY: $COLOR-MAIN3;
$BG-COLOR-DISABLED: $COLOR-MAIN10;
$BG-COLOR-TITLE: $COLOR-MAIN6;

// text-color
$TEXT-COLOR-WHITE: $COLOR-WHITE;
$TEXT-COLOR-DISABLED: $COLOR-GRAY4;
$TEXT-COLOR-BLUE: $COLOR-MAIN14;

$TITLE-COLOR-BLUE: $COLOR-MAIN6;
// border
$TITLE-BORDER-BLUE: $COLOR-MAIN6;
$LIST-BORDER-GRAY: $COLOR-GRAY3;

// antdv $message
// $MESSAGE-CLOSE-BTN-COLOR: $COLOR-GRAY3;


//----------------------------- RWD 斷點 -----------------------------
$XL-MEDIA: 1200px;
$LG-MEDIA: 992px;
$MD-MEDIA: 768px;
$SM-MEDIA: 576px;
$XS-MEDIA: 375px;