@import '../_varibles.scss';

// 主要按鈕（圓角）
.btn__main{
  border-radius: 100vh;
  padding: 12px 60px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.btn__main--primary{
  border: solid 1px $BUTTON-MAIN;
  background-color: $BUTTON-MAIN;
  color: #FFFFFF;
}

.btn__main--light{
  border: solid 1px $BUTTON-MAIN;
  background-color: #FFFFFF;
  color: $BUTTON-MAIN;
}


// 列表(table)動作icon
.table__btn{
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
  img, i{
    width: 20px;
    height: 20px;
  }
}

// 列表新增按鈕
.table__btn--add{
  background-color: $primary;
}

// 列表編輯按鈕
.table__btn--edit{
  background-color: $COLOR-MAIN7;
}

// 列表刪除按鈕
.table__btn--delete{
  background-color: $COLOR-MAIN8;
  margin-left: 10px;
}

// 列表下一頁icon按鈕
.table__btn--next{
  padding: 0px 17px;
  margin-right: -17px;
  height: 100%;
}

.table__btn--single{
  padding: 5px 9px;
}

.table__btn--disabled{
  background-color: #CECECE;
  cursor: not-allowed;
}

// ant design model okType = danger
.ant-btn-danger, .ant-btn-danger:hover, .ant-btn-danger:focus{
  border: solid 1px #d9d9d9;
  background-color: rgba(0,0,0,0.04);
  color: #FC0000;
  font-size: 14px;
}

// ant design
.modal__icon{
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.modal__icon{
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

@mixin button_base($bg, $radius, $color, $fontSize, $borderColor) {
  transition: all .2s ease-in-out;
  background-color: $bg;
  border-radius: $radius;
  color: $color;
  text-align: center;
  border: 1px $borderColor solid;
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: $fontSize;
  display: inline-block;
  > * {
    font-size: $fontSize;
  }
  &[disabled], &.disabled {
    cursor: not-allowed;
    background-color: #F5F5F5;
    border: 1px #D9D9D9 solid;
    color: #B7B7B7;
    &:hover {
      color: #B7B7B7;
      outline: 0;
    }
  }
  &:hover {
    color: $color;
    outline: 3px #4CAAF566 solid;
  }
}

// 主色帶有圓角按鈕
.btn__radius--primary {
  @include button_base($primary, 50vh, #ffffff, 16px, $primary);
  padding: 10px 25px;
}
.btn__radius--primary--outline {
  @include button_base(#ffffff, 50vh, $primary, 16px, $primary);
  padding: 10px 25px;
}
// 主色帶有一班圓角較小按鈕
.btn__radius--primary--small {
  @include button_base($primary, 3px, #ffffff, 14px, $primary);
  padding: 7px 10px;
}
// 黃色帶有一班圓角較小按鈕
.btn__radius--yellow--small {
  @include button_base(#FECE00, 3px, #000000, 14px, #FECE00);
  padding: 7px 10px;
}

.block__btns button {
  width: 150px;
  max-width: 100%;
  margin: 0 5px;
}