@import '../_varibles.scss';

// 保險計劃/險種計畫列表
.product__header{
  margin-top: 10px;
  background-color: $COLOR-MAIN2;
  color: #fff;
  padding: 10px 0px;
  .product__header--bold{
    font-weight: bold;
  }
  .product__header--sub{
    font-size: 14px;
  }
}
.product__content{
  padding-bottom: 20px;
}
.product__content--bgblue{
  background-color: $LIST-BG-DARK;
  margin-top: 25px;
}
.product__content__hearder{
  padding: 10px 0px;
  .header__text{
    color: $COLOR-MAIN2;
    font-weight: bold;
    font-size: 14px;
  }
  .header__text--light{
    color: #fff;
  }
  .header__text--dark{
    color: #000;
  }
  .header__text--thin{
    font-weight: normal;
  }
  .header__text--lg{
    font-size: 16px;
  }
}
.product__content__line{
  width: 100%;
  height: 1px;
}
.product__content__item{
  border-top: 1px dashed #cecece;
  padding: 6px 0px;
  &.product__content__item--sub {
    border-top: 0;
  }
  &:first-child {
    border: 0;
  }
  .item__title--primary{
    color: $COLOR-MAIN6;
  }
}
.product__content__line--main{
  background-color: $COLOR-MAIN2;
}
.product__content__line--dash{
  border-top: 1px dashed #cecece;
}
.product__back{
  padding: 28px 0px;
}

// 確認投保內容列表
// .comfirm__block{
//   padding-bottom: 25px;
// }
.comfirm__item{
  padding-bottom: 25px;
}
.comfirm__item__label{
  font-weight: bold;
  padding-bottom: 3px;
}
.card__dropdown__item {
  font-size: 14px;
  &:hover {
    background-color: $primary !important;
    color: #ffffff;
  }
}