
@import '../_varibles.scss';

.card{
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
}
.user__img{
  width: 100%;
}
.user__info{
  margin-bottom: 20px;
}
.user__title{
  font-weight: 600;
  color: $COLOR-MAIN2;
}
.user__name{
  font-size: 18px;
  word-break: break-word;
}
.user__name--ch{
  font-weight: 600;
}
.user__country{
  margin-top: auto;
}
.user__remark{
  margin: 49px 15px 0px 29px;
}
.user__remark__title{
  font-weight: 600;
  margin-bottom: 4px;
}
.info__block{
  padding-right: 10px;
}
.info__header{
  color: #fff;
  background-color: $COLOR-MAIN2;
  font-size: 12px;
  padding-left: 12px;
  margin-bottom: 8px;
  font-weight: 600;
}
.info__item{
  margin: 8px 0px;
  .info__item__title{
    font-weight: 600;
  }
  .info__item__content {
    min-height: 24px;
    margin-top: 3px;
  }
}