:root {
  // css 原生變數
}

$COLOR-WHITE: #FFF;
$COLOR-BLACK: #000;

// 主色系
$COLOR-MAIN1: #03819b;
$COLOR-MAIN2: #00829B;
$COLOR-MAIN3: #0094BF;
$COLOR-MAIN4: #026A9B;
$COLOR-MAIN5: #009583;
$COLOR-MAIN6: #E99385;
$COLOR-MAIN7: #09B3A1;
$COLOR-MAIN8: #30ACB3;
$COLOR-MAIN9: #499EE5;
$COLOR-MAIN10: #02829B;
// $COLOR-MAIN11: #D9F0F4;
// $COLOR-MAIN12: #7DC9CF;
// $COLOR-MAIN13: #4D86FF;
// $COLOR-MAIN14: #F5222D;
// $COLOR-MAIN15: #4D86FF;
// $COLOR-MAIN16: #CB5B4D;
// $COLOR-MAIN17: #F46A6A;
// $COLOR-MAIN18: #FFF0F0;
// $COLOR-MAIN19: #E06262;
// $COLOR-MAIN20: #FFEBEB;

// $ERROR-COLOR: $COLOR-MAIN14;

// homePage
$COLOR-MAIN-BG-LINEAR: $COLOR-MAIN7, $COLOR-MAIN8, $COLOR-MAIN9;



$COLOR-GRAY1: #B7B7B7;
// $COLOR-GRAY2: #CED4D9;
// $COLOR-GRAY3: #D1D3D7;
// $COLOR-GRAY4: #EBEBEB;
// $COLOR-GRAY5: #C9C9C9;
// $COLOR-GRAY6: #F5F5F5;
// $COLOR-GRAY7: #FDFCFB;
// $COLOR-GRAY8: #B7B7B7;
// $COLOR-GRAY9: #CECECE;
// $COLOR-GRAY10: #999;


// ======================= main header ======================= //
$main-header-H: 46;


// // button
// $BUTTON-MAIN: $COLOR-MAIN1;
// $BUTTON-BG-RED: $COLOR-MAIN17;
// $BUTTON-DISABLED-BG-RED: $COLOR-MAIN18;
// $BUTTON-DISABLED-BG-GRAY: $COLOR-GRAY6;
// $BUTTON-DISABLED-COLOR-GRAY: $COLOR-GRAY8;

// // loading
// $LOADING-TXT-COLOR: $COLOR-WHITE;
// $LOADING-COLOR: $COLOR-MAIN2;

// // list bg
// $LIST-BG-DARK: $COLOR-MAIN4;

// // text
// $TEXT-PRIMARY: $COLOR-MAIN5;
// $TEXT-GREEN: $COLOR-MAIN1;
// $TEXT-RED: $COLOR-MAIN17;
// $TEXT-BOLD: 600;

// // background
// $BG-PRIMARY: $COLOR-MAIN4;
// $BG-GREEN: $COLOR-MAIN1;

// // narbar
// $NARBARMENU-COLOR: $COLOR-GRAY1;
// $NARBARMENU-ACTIVE-COLOR: $COLOR-BLACK;
// $NARBARMENU-BOTTOM-ACTIVE-BG: $COLOR-MAIN1;
// $NARBARMENU-BOTTOM-BORDER-COLOR: $COLOR-MAIN9;
// $NARBARMENU-MEMBER-AUTH_BG: $COLOR-MAIN10;

// // login
// $LOGIN-BANNER-BG: $COLOR-MAIN11;
// $LOGIN-BANNER-TITLE-COLOR: $COLOR-MAIN12;
// $INPUT-FOCUS-BORDER-COLOR: $COLOR-MAIN1;
// $NARBARMENU-COLOR: $COLOR-BLACK;
// $NARBARMENU-HOVER-COLOR: #363636;
// $NARBARMENU-BOTTOM-BORDER-COLOR: $COLOR-MAIN9;

// // banner
// $BANNER-BG-BLUE: $COLOR-MAIN10;

// // calendar
// $CALENDAR-ACTIVE-COLOR: $COLOR-MAIN1;
// $CALENDAR-DOT-COLOR: $COLOR-MAIN1;
// $CALENDAR-LINK-COLOR: $COLOR-GRAY1;
// $CALENDAR-FRAME-ACTIVE-BORDER-COLOR: $COLOR-MAIN1;
// $CALENDAR-FRAME-ACTIVE-BG: $COLOR-MAIN10;
// $CALENDAR-FRAME-HOVER-BG: $COLOR-MAIN10;
// $CALENDAR-FRAME-BORDER-COLOR: $COLOR-GRAY3;

// $POPOVER-TEXT-COLOR-GREEN: $COLOR-MAIN1;

// // modal
// $MODAL-ICON-SUCCESS: $COLOR-MAIN1;
// $MODAL-ICON-ERROR: $COLOR-MAIN14;
// // info、warning 尚未定義
// // $MODAL-ICON-INFO: $COLOR-MAIN1;
// // $MODAL-ICON-WARNING: $COLOR-MAIN1;

// $MODAL-SUCCESS-CONFIRM-BG: $COLOR-MAIN1;
// $MODAL-SUCCESS-CONFIRM-TXT: $COLOR-WHITE;

// $MODAL-ERROR-CONFIRM-BG: $COLOR-GRAY6;
// $MODAL-ERROR-CONFIRM-TXT: $COLOR-MAIN14;
// $MODAL-ERROR-CONFIRM-BORDER: $COLOR-MAIN9;

// $MODAL-BTN-BORDER: $COLOR-GRAY2;
// $BORDER-COLOR-GRAY: $COLOR-GRAY9;
// $BORDER-COLOR-GREEN: $COLOR-MAIN1;
// $BOX-BORDER-COLOR: $COLOR-MAIN9;

// // collapse
// $COLLAPSE-HEADER-BG: $COLOR-MAIN1;

// ======================= sideMenu ======================= //
$sideMenuIconSize: 22px;